@font-face{
	font-family: 'Aaargh';
	src: url('../fonts/aaargh/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Pier';
	src: url('../fonts/pier.otf') format('opentype');
}


#data-stories-menu.pure-menu {
  background-color: rgb(61, 79, 93);
  border: none;
  text-transform: uppercase;
}

h1.brand-title {
  padding-bottom: 7px;
}

[go-click]:hover,
[go-click]:focus {
  cursor: pointer;
}

h2.brand-tagline {
  color: #82edfe;
}

.pure-menu li > a {
  color: #52bcc0;
}

.content-header h1 {
  color: rgb(97, 126, 148);
}

div#ng-view * {
  font-family: Aaargh, sans-serif;
  line-height: 1.5em;
}

div#ng-view h2, div#ng-view h1 {
  font-family: Pier;
}

/* about page */

.about-photo-g * {
  padding: 0 5px;
  color: rgb(61, 79, 93);
}

.about-photo-content {
  padding: 0 5px;
  font-size: 130%;
}


/* projects page */

.project.post {
  background-color: #dddddd;
  padding: 5px 10px 5px 15px;
  margin-bottom: 10px;
  border-radius: 10%;
}


/* project page */

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.project-header h1 {
  flex: 0 1 auto;
  border-right: 1px solid #eeeeee;
  padding-right: 0.3em;
}


.project-header-details {
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.project-header-details p {
  margin: 0;
}

.project-header-details .subdued {
  color: #aaaaaa;
}

.project-title {
  font-weight: bold;
  font-size: 2.5em;
  display: inline-block;
  margin-right: 0.5em;
}






















